// colors

$main-accent: #9115FF;

$off-white: #f3f3f3;

$white: #fff;

$text: #222;

$pillowy-shadow: 0px 5px 25px rgba($main-accent,.4);

// fonts

@import url("https://use.typekit.net/itf2waf.css");

$serif: "eskorte-latin",serif;

$sans: "skolar-sans-latin", "ebony", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$letterspacing: .02em;

