@import 'vars';


.fourohfour h1 {
    font-size: 30vw;
    line-height: 0.9;
    margin: 0;
    position: absolute;
    top: 10vw;
    left: 5vw;
    color: $main-accent;
    z-index: 0;
    opacity: .4;
    position: fixed;

    background: -webkit-linear-gradient(74deg, $main-accent 0%, $secondary-accent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    animation:  fade-up .75s ease forwards;

    
    @media (min-width: 660px) {
        left: 2.25rem;
        top: 3vw;
        font-size: 35vw;
        top: 5vw;
        left: 5vw;
    }

    &.error-1 {
        animation: fade-inout 10s linear infinite alternate-reverse;
    }
    &.error-2 {
        animation: fade-inout 16.6s linear infinite alternate;
        background: -webkit-linear-gradient(44deg, $secondary-accent 0%, blue 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: skew(3deg) translateY(3px);
    }
}

.fourohfour p, .about-content p {
    font-size: 1.25rem;
    // line-height: 1.25;
     max-width: 20em; 
    opacity: .99;
    z-index: 100;

    @media (min-width: 660px) {
        font-size: 2em;
    }

    a:hover {
        color: $white;
        text-shadow: -1px -1px 2px $main-accent, 1px 1px 8px $main-accent;
    }
}

.about-content {

    animation:  fade-up 1.5s ease forwards;
    .colophon {
        p {
            font-size: 1rem;
            max-width: $body-width;
        }
    }

}


@keyframes fade-inout {
    0% {
        opacity: .02;
        transform: skew(2deg) translateY(3px);
    }
    50% {
        opacity: .2;
        transform: skew(-3deg) translateY(0px);
    }
    100% {
        opacity: .3;
        transform: skew(0deg) translateY(-4px);
    }
}

