@import 'vars';

/* body {
    background-color: #222;
} */

html, body, #___gatsby {
    height: 100%;
}

// colors 
.accent {
    color: $main-accent;
}

a.accent:hover {
    color: $text;
}

// fonts 

.sans-serif {
  font-family: $sans;
        font-size: 1rem;
}

.serif {
  /* font-family: 'Spectral', serif; */
    font-family: $serif;
}

.serif-display {
    /* font-family: 'Vesper Libre', serif; */
    font-family: $serif;
}

// font styles

.bold {
    font-weight: bold;
}

.regular {
    font-weight: normal;
}

.italic {
    font-style: italic;
}

.roman {
    font-style: normal;
}

.no-underline {
    text-decoration: none;
}

.list {
    list-style: none;
}


// type scale

.f-body{
    font-size: $body !important;
    line-height: 1.5;
}
.f-4{
    font-size: $h4 !important;
    line-height: 1.5;
}
.f-3{
    font-size: $h3 !important;
    line-height: 1.5;
}
.f-2{
    font-size: $h2 !important;
    line-height: 1.25;
}
.f-1{
    font-size: $h1 !important;
    line-height: 1.125;
}

.f-xl {
    font-size: $h1 !important;
    line-height: 1.125;
    padding: .1em;
    @media (min-width: 660px) {
        font-size: $h1 * 1.125 !important;
    }
    @media (min-width: 1040px) {
        font-size: 5vw !important;
    }
}

// misc typography

hr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background: rgba($main-accent, 0.5);
    border: none;
    height: 2px;
  }

  