.blog-post .link.prev {
  float: left;
}

.blog-post .link.next {
  float: right;
}

.blog-post .title, .blog-post .date {
  /* text-align: center; */
  margin: 0 auto;
  padding: 0;
  max-width: 35rem;
}

.blog-post .title {
  margin-bottom: 1rem; 
  font-family: serif;
}

.blog-post .date {
  font-size: 1rem;
  color: #555;
}

.blog-post .navigation {
  min-height: 60px;
}

.blog-post {
  /* max-width: 35em; */
  margin: 0 auto;
}

.blog-post p {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.blog-post img {
  max-width: 1600px;
  padding-bottom: 1.45rem; /* not working */
}