

.fourohfour, .fourohfour a {
    color: white;
}

.fourohfour h1 {
    font-size: 20vw;
    line-height: 1;
    margin: 0;
    position: absolute;
    color: #333;
    z-index: 0;
}

.fourohfour p {
    font-size: 2em;
    line-height: 1.25;
     max-width: 20em; 
    opacity: .99;
    z-index: 100;

}